﻿@using BlogProject.ViewModel.Catalog.Posts;
@using BlogProject.ViewModel.Catalog.Tags;

@{
    List<PostVm> objectList = ViewData["ObjectList"] as List<PostVm>;
	List<PostVm> recentPost = ViewData["PostRecent"] as List<PostVm>;
	List<PostVm> popularPost = ViewData["PostPopular"] as List<PostVm>;
	List<PostVm> trendingpost = ViewData["PostTending"] as List<PostVm>;
	List<PostVm> postInDay = ViewData["PostInDay"] as List<PostVm>;
	List<PostVm> posts = ViewData["posts"] as List<PostVm>;
	bool isFirstItem = true;
	int counter = 0;
}

@{
    ViewData["Trang chủ"] = "Home Page";
}
<!-- hero section -->

<style>
	.post-image {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		object-fit: cover;
	}

	.avatar-image {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		object-fit: cover;
	}
</style>

<section id="hero">

	<div class="container-xl">

		<div class="row gy-4">

			<div class="col-lg-8">

				<!-- featured post large -->
				<div class="post featured-post-lg">
					@foreach (var items in objectList){
					<div class="details clearfix">
						
							<a asp-action="ListPostOfCategory" asp-controller="Post" asp-route-categoryId="@items.CategoryId" class="category-badge">@items.CategoryName</a>
					
						<h2 class="post-title"><a  asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">@items.Title</a></h2>
							
						<ul class="meta list-inline mb-0">
								<li class="list-inline-item"><a asp-action="UserPost" asp-controller="Post" asp-route-userId="@items.UserId">@items.UserName</a></li>
								<li class="list-inline-item">@items.UploadDate.ToString("dd/MM/yyyy")</li>
						</ul>
					</div>
						<a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">
						<div class="thumb rounded">
							<div class="inner data-bg-image" data-bg-image="@items.Image"></div>
						</div>
					</a>
					}
				</div>

			</div>
			
			<div class="col-lg-4">

				<!-- post tabs -->
				<div class="post-tabs rounded bordered">
					<!-- tab navs -->
					<ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
						<li class="nav-item" role="presentation"><button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Popular</button></li>
						<li class="nav-item" role="presentation"><button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recent</button></li>
					</ul>
					<!-- tab contents -->
					<div class="tab-content" id="postsTabContent">
						<!-- loader -->
						<div class="lds-dual-ring"></div>
						<!-- popular posts -->
						<div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
							<!-- post -->
							@foreach (var items in popularPost)
							{
							<div class="post post-list-sm circle">
								<div class="thumb circle">
										<a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">
										<div class="inner">
												<img src="@items.Image" class="post-image" alt="post-title" />
										</div>
									</a>
								</div>
								<div class="details clearfix">
										<h6 class="post-title my-0"><a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">@items.Title</a></h6>
									<ul class="meta list-inline mt-1 mb-0">
										<li class="list-inline-item">@items.UploadDate.ToString("dd/MM/yyyy")</li>
									</ul>
								</div>
							</div>
							}
							
						</div>
						
						<div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
							<!-- post -->
							@foreach (var items in recentPost)
							{
							<div class="post post-list-sm circle">
								<div class="thumb circle">
										<a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">
										<div class="inner">
											<img src="@items.Image" class= "post-image" alt="post-title" />
										</div>
									</a>
								</div>
								<div class="details clearfix">
										<h6 class="post-title my-0"><a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">@items.Title</a></h6>
									<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">@items.UploadDate.ToString("dd/MM/yyyy")</li>
									</ul>
								</div>
							</div>
							}
						</div>
						
					</div>
				</div>
			</div>

		</div>

	</div>

</section>

<!-- section main content -->
<section class="main-content">
	<div class="container-xl">

		<div class="row gy-4">

			<div class="col-lg-8">

				<!-- section header -->
				<div class="section-header">
					<h3 class="section-title">Trending</h3>
					<img src="~/images/wave.svg" class="wave" alt="wave" />
				</div>

				<div class="padding-30 rounded bordered">
					<div class="row gy-5">
						
							
						<div class="col-sm-6">
							@foreach (var item in trendingpost)
							{
									<!-- post -->
								@if (isFirstItem)
								{
									<div class="post">
										<div class="thumb rounded">
											<a asp-action="ListPostOfCategory" asp-controller="Post" asp-route-categoryId="@item.CategoryId" class="category-badge position-absolute">@item.CategoryName</a>
											
												
										
											<a asp-action="Detail" asp-controller="Post" asp-route-ID="@item.PostID">
												<div class="inner">
													<img src="@item.Image" alt="post-title" />
												</div>
											</a>
										</div>
										<ul class="meta list-inline mt-4 mb-0">
											<li class="list-inline-item"><a asp-action="UserPost" asp-controller="Post" asp-route-userId="@item.UserId"><img class="avatar-image" src="@item.Avatar" class="author" alt="author" />@item.UserName</a></li>
											<li class="list-inline-item">@item.UploadDate</li>
										</ul>
										<h5 class="post-title mb-3 mt-3"><a asp-action="Detail" asp-controller="Post" asp-route-ID="@item.PostID">@item.Title</a></h5>
										<p class="excerpt mb-0">@item.Desprition</p>
									</div>
									isFirstItem = false;
								}
							}
						</div>
							
						<div class="col-sm-6">	
							@foreach (var item in trendingpost)
							{
								counter++;
								if (counter > 1)
								{
									<!-- post -->
									<div class="post post-list-sm square">
										<div class="thumb rounded">
											<a asp-action="Detail" asp-controller="Post" asp-route-ID="@item.PostID">
												<div class="inner">
													<img src="@item.Image" alt="post-title" />
												</div>
											</a>
										</div>
										<div class="details clearfix">
											<h6 class="post-title my-0"><a asp-action="Detail" asp-controller="Post" asp-route-ID="@item.PostID">@item.Title</a></h6>
											<ul class="meta list-inline mt-1 mb-0">
												<li class="list-inline-item">@item.UploadDate</li>
											</ul>
										</div>
									</div>
								}
							}
						</div>
						
					</div>
				</div>

				<div class="spacer" data-height="50"></div>

				

				<div class="spacer" data-height="50"></div>

				<!-- section header -->
			

				<div class="spacer" data-height="50"></div>

				<!-- section header -->
			

				<div class="spacer" data-height="50"></div>

				<!-- section header -->
				<div class="section-header">
					<h3 class="section-title">Tin Tức</h3>
					<img src="~/images/wave.svg" class="wave" alt="wave" />
				</div>

				<div class="padding-30 rounded bordered">

					<div class="row">
						@foreach(var items in posts){
						<div class="col-md-12 col-sm-6">
							<!-- post -->
							<div class="post post-list clearfix">
								<div class="thumb rounded">																							
										<a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">
										<div class="inner">
											<img src="@items.Image" alt="post-title" />
										</div>
									</a>
								</div>
								<div class="details">
									<ul class="meta list-inline mb-3">
											<li class="list-inline-item"><a asp-action="UserPost" asp-controller="Post" asp-route-userId="@items.UserId"><img src="@items.Avatar" class="author avatar-image" alt="author" />@items.UserName</a></li>
											<li class="list-inline-item"><a asp-action="ListPostOfCategory" asp-controller="Post" asp-route-categoryId="@items.CategoryId">@items.CategoryName</a></li>
										<li class="list-inline-item">@items.UploadDate</li>
									</ul>
									<h5 class="post-title"><a href="blog-single.html">@items.Title</a></h5>
									<p class="excerpt mb-0">@items.Desprition</p>
									<div class="post-bottom clearfix d-flex align-items-center">
									
										<div class="more-button float-end">
											<a asp-action ="Detail" asp-controller="Post" asp-route-ID="@items.PostID"><span class="icon-options"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						}
						

					</div>
					<!-- load more button -->
					@*<div class="text-center">
						<button class="btn btn-simple">Load More</button>
					</div>*@

				</div>

			</div>
			<div class="col-lg-4">

				<!-- sidebar -->
				<div class="sidebar">
					<!-- widget about -->


					<!-- widget popular posts -->
					<div class="widget rounded">
						<div class="widget-header text-center">
							<h3 class="widget-title">Popular Posts</h3>
							<img src="~/images/wave.svg" class="wave" alt="wave" />
						</div>
						<div class="widget-content">
							<!-- post -->
							@for(int i = 0 ; i<popularPost.Count ; i++){
							<div class="post post-list-sm circle">
								<div class="thumb circle">
									<span class="number">@(i+1)</span>
										<a asp-action="Detail" asp-controller="Post" asp-route-ID="@popularPost[i].PostID">
										<div class="inner">
												<img src="@popularPost[i].Image" class="post-image" alt="post-title" />
										</div>
									</a>
								</div>
								<div class="details clearfix">
										<h6 class="post-title my-0"><a asp-action="Detail" asp-controller="Post" asp-route-ID="@popularPost[i].PostID" >@popularPost[i].Title</a></h6>
									<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">@popularPost[i].UploadDate.ToString("dd/MM/yyyy")</li>
									</ul>
								</div>
							</div>

							}
						</div>
					</div>

					<!-- widget categories -->
				

					<!-- widget newsletter -->
					

					<!-- widget post carousel -->
					<div class="widget rounded">
						<div class="widget-header text-center">
							<h3 class="widget-title">Các Tin Tức Trong Ngày</h3>
							<img src="~/images/wave.svg" class="wave" alt="wave" />
						</div>
						<div class="widget-content">
							<div class="post-carousel-widget">
								<!-- post -->
								@foreach (var items in postInDay)
								{
									<div class="post post-carousel">
										<div class="thumb rounded">
											<a asp-action="ListPostOfCategory" asp-controller="Post" asp-route-categoryId="@items.CategoryId" class="category-badge position-absolute">@items.CategoryName</a>
											<a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">
												<div class="inner">
													<img src="@items.Image" alt="post-title" />
												</div>
											</a>
										</div>
										<h5 class="post-title mb-0 mt-4"><a asp-action="Detail" asp-controller="Post" asp-route-ID="@items.PostID">@items.Title</a></h5>
										<ul class="meta list-inline mt-2 mb-0">
											<li class="list-inline-item"><a asp-action="UserPost" asp-controller="Post" asp-route-userId="@items.UserId">@items.UserName</a></li>
											<li class="list-inline-item">@items.UploadDate.ToString("dd/MM/yyyy")</li>
										</ul>
									</div>
								}

							</div>
							<!-- carousel arrows -->
							<div class="slick-arrows-bot">
								<button type="button" data-role="none" class="carousel-botNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
								<button type="button" data-role="none" class="carousel-botNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
							</div>
						</div>
					</div>
					
					<!-- widget tags -->
				

				</div>

			</div>

		</div>

	</div>
</section>
