@model List<BlogProject.Data.Entities.Posts>

@{
    ViewData["Title"] = "HistoryLike";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cách Bài Viết Đã Thích</h1>
<section class="main-content">
    <div class="container-xl">

        <div class="row gy-4">

            <div class="col-lg-8">

                <div class="row gy-4">
                    @foreach (var item in Model)
                    {

                        <div class="col-sm-6">
                            <!-- post -->
                            <div class="post post-grid rounded bordered">
                                <div class="thumb top-rounded">
                              

                                    <a asp-action="Detail" asp-controller="Post" asp-route-id="@item.PostID">
                                        <div class="inner">
                                            <img style="width:356px ; height:237px" src="@Html.DisplayFor(modelItem => item.Image)" alt="post-title" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <ul class="meta list-inline mb-0">
                               
                                        <li class="list-inline-item">@Html.DisplayFor(modelItem => item.UploadDate)</li>
                                    </ul>
                                    <h5 class="post-title mb-3 mt-3"><a asp-action="Detail" asp-controller="Post" asp-route-id="@item.PostID">@Html.DisplayFor(modelItem => item.Title)</a></h5>
                                    <p class="excerpt mb-0">@Html.DisplayFor(modelItem => item.Desprition)</p>
                                </div>
                                <div class="post-bottom clearfix d-flex align-items-center">

                                    <div class="more-button float-end">
                                        <a href="@Url.Action("Detail", "Post", new { postId = item.PostID })"><span class="icon-options"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>



            </div>


        </div>

    </div>
</section>