@model List<BlogProject.ViewModel.Catalog.Posts.PostVm>
@using BlogProject.ViewModel.Catalog.Categories
@using BlogProject.ViewModel.System.Users
@{
    ViewData["Title"] = "UserPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    UserVm user = ViewData["user"] as UserVm;
}
<style>
    .avatar-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    #followButton.followed {
        background-color: blue; /* Màu nền khi đã like */
        color: #fff; /* Màu chữ khi đã like */
    }
</style>

<div class="widget rounded">
    <div class="widget-about data-bg-image text-center" data-bg-image="images/map-bg.png">
        <img class="avatar-image" src="@user.Image" alt="logo" class="mb-4" />
        <p class="mb-4">@user.UserName</p>
        @if (@user.UserName != User.Identity.Name)
        {
            @if (@ViewBag.CheckFollow == true)
            {
                <a title="Hủy theo dõi" id="follow-count" class="followButton btn btn-danger">
                    <span class="u-icon u-text-white"></span>
                    <i class="fa fa-solid fa-user-friends followed" style="color: green"></i>
                    &nbsp;Hủy theo dõi @user.CountFollow
                </a>
            }
            else
            {
                <a title="Theo dõi" id="follow-count" class="followButton btn btn-primary">
                    <span class="u-icon u-text-white"></span>
                    <i class="fa fa-solid fa-user"></i>
                    &nbsp;Theo dõi @user.CountFollow
                </a>
            }
        }
    </div>
</div>

<section class="hero-carousel">
    <div class="row post-carousel-featured post-carousel">
        <!-- post -->
        @foreach (var item in Model)
        {

            <div class="post featured-post-md">
                <div class="details clearfix">
                    <a href="category.html" class="category-badge">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                    <h4 class="post-title"><a href="blog-single.html">@Html.DisplayFor(modelItem => item.Title)</a></h4>
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">@Html.DisplayFor(modelItem => item.UserName)</a></li>
                        <li class="list-inline-item">@Html.DisplayFor(modelItem => item.UploadDate)</li>
                    </ul>
                </div>
                <a href="blog-single.html">
                    <div class="thumb rounded">
                        <div class="inner data-bg-image" data-bg-image="@Html.DisplayFor(modelItem => item.Image)"></div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.followButton').click(function (even) {
            var likeIcon = $('a.follow-user i');
            if(likeIcon.hasClass('followed')){
                $.ajax({
                    url: '/Follow/AddFollow',
                    type: 'POST',
                    data: {
                        followerName: '@user.UserName',
                        followeeName: '@User.Identity.Name'
                    },
                    success: function () {

                        console.log("trungtin");
                        window.location.reload();
                    },
                    error: function (error) {
                        console.error('Error following user:', error);
                    }
                });
            }else{
                $.ajax({
                    url: '/Follow/AddFollow',
                    type: 'POST',
                    data: {
                        followerName: '@user.UserName',
                        followeeName: '@User.Identity.Name'
                    },
                    success: function () {

                        console.log("trungtin");
                        window.location.reload();
                    },
                    error: function (error) {
                        console.error('Error following user:', error);
                    }
                });
            }
        });
    });
</script>
